body {background-color: #a0aaf2;}
h1 {text-align: center;
color: #ad327a;}
ul {border: 2px dashed #f75490;
   width: 200px;}
a {font-weight: italic;}
p {font-family: arial;
  font-size: 14px;}
img {height: 400px;
    border: 2px solid #f75490;}
