html {background-color: #ffdbbd;
font-family: sans-serif;}
h1 {text-align: center;}
img {border: 3px solid #ff9740;
    margin: auto;
    display: block;}
ul, li {text-align: center;}
nav {border-bottom: 1px solid black;}
.crumb {display: inline;}
.crumb a::after {display: inline;
  content: '>';
  padding: 0 3px;}
.ima {float: left;}
